* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
}
.logo span { 
    color: #ff4b8a; 
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    font-size: 18px;
    color: #111;
    transition: .3s;
}

nav a:hover,
nav .active {
    color: #ff4b8a;
}

/* About Section */
.about-us {
    padding: 60px 80px;
    text-align: center;
}

.about-us h1 {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 700;
}

.about-us h1 span {
    color: #ff4b8a;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.image img {
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.content {
    max-width: 500px;
    text-align: left;
}

.content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Button */
.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #111;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #ff4b8a;
}